body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}   

header{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 30;
    display: flex;
    justify-content:center;
    height: 80px;
}

.navbar{
    width: 80%;
}

.navbar ul{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;
    list-style: none;
    margin: 0;
    font-weight: bold;
}

.navbar li a:hover{
    color: #1F9BC4;
}

.navbar a{
    text-decoration: none;
    color: #000;
}

.navbar .icon{
    display: none;
}

.sign-in-btn{
    color: #fff !important; 
    font-weight: bold;
    background-color: #1F9BC4;
    border-radius: 0.2em;
    padding: 0.8em 1em;
}

.logo img{
    height: 50px;
    width: 50px;
}


nav input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    font-size: 16px;
    background-color: white;
    background-image: url('./images/search.png');
    background-position: 10px 10px; 
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    box-shadow: -6px 3px 47px -21px rgba(0,0,0,0.75);
}

nav input[type=text]:focus {
    border: none;
    outline: 2px solid #1F9BC4;
    transition: 0.5s;
    color: #757575;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    float: none;
    color: #757575;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 100;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
.dropdown-content{
    display:none;
}

.dropdown i{
    padding-left: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
  }






/* banner */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f9bc4;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("./images/mainbackground.jpg");
}


.content{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10em ;
    color: #fff;    
}

.content h1{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.content p{
    font-size: 1.5em;
    margin: 1em 0;
}

.content form{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    background-color: #fff;
    padding: 0.5em 1em;
    width:80%;
    z-index: 10;
    border-radius: 0.5em;
}

.container form input[type=email],[type=password]{
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
    background-color: white;
    padding: 12px 10px 12px 20px;
}

.container form input[type=email],[type=password]:focus {
    outline: none;
    transition: 0.5s;
    color: #757575;
}

.container form input[type=password]{
    border-left: #757575 solid 1px;
}

.container form input[type=submit]{
    background-color: #1F9BC4;
    color: #fff;
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.8em 3em;
}



/* container 2 */
.container-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-2 span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin : 0.5em 1em;
}

.container-2 .dot{
    background-color: #1F9BC4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.container-2 p {
    padding-left: 0.2em;
}


/* container 3 */


.container-3{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F5F8;
    margin-bottom: 2em;
}

.con-3-content{
    width: 80%;
}



.container-3-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    
}

.container-3-content-item{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-height: 200px;
    color: #fff;

}



.car{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/car.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.utes{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/utes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1em;
}
.van{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/vans.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1em;

}



.con-3-content .search-cars-btn{
    
    text-decoration: none;
    color: #fff;
    background-color: #1f9bc4;
    padding: 0.8em 3em;
    border-radius: 0.5em;
    font-weight: bold;
    margin: 1em 0;
}




/* container-4 */
.container-4{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F5F8;
    margin-bottom: 2em;
}

.container-4-content{
    width: 80%; 
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

}

.container-4 .wrapper-1{

    display: flex;
    flex-direction: column;
}

.services img{
    width: 40px;
    margin-right: 2em;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.services .a{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    
}

.container-4 .wrapper-2{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em;

}

.container-4 input[type=submit]{
    background-color: #1F9BC4;
    color: #fff;
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.8em 3em;
}

.container-4 .wrapper-3 a{
    padding-top: 2em;
    text-decoration: none;
    color: #1F9BC4;
    font-weight: bold;
    margin-left: 2em;
}

.container-4 .wrapper-3{
    margin-top: 2em;
}

.container-5{
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.container-5-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.container-5-content-item{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-height: 200px;
    color: #fff;
    border-radius: 0.5em;

}

.Sydney{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/sydney.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Melbourne{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/melbourne.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Brisbane{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/brisbane.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Gold-Coast{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/gold-coast.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Canberra{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/canberra.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Perth{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/perth.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Adelaide{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/adelaide.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Hobart{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/hobart.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Cairns{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/cairns.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.container-5 .search-btn{
    margin: 3em 0;
}
.container-5 .search-cars-btn{
    background-color: #1F9BC4;
    text-decoration: none;
    color: #fff;
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.8em 3em;
}

/* container-6 */
.container-6{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F1F5F8;
    margin-bottom: 2em;
}

.container-6-content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-6-content-item{display: flex;}

.container-6-content-item img{
    width: 200px;
    object-fit: cover;
}

.container-7{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.container-7-content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-7 .content{
    color: black;
}

.container-7 .search-cars-btn{
    background-color: #1F9BC4;
    text-decoration: none;
    color: #fff;
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.8em 3em;
}

.container-8{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    background-color: #DAE1E7;
}

.container-8-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-8 .info{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.container-8-content-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #606F7B;
    
}

.container-8-content-item img{
    width: 50px;
    object-fit: cover;
    margin-right: 0.5em;

}


footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: #F2F2F2;
}


.Footer-container{
    width: 80%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
    
}

.Footer-container a{
    text-decoration: none;

}

.Footer-container ul{
    list-style: none;
    padding: 0;
}

@media only screen and (max-width: 1150px) {
    .Footer-container{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 35px;
    }
  }

.Footer-container .whats-new h4{
    color: #616161;
    margin-bottom: 10px;
}

.Footer-container .whats-new ul a{
    font-size: 11px;
    color: #616161;
    
}

.Footer-container .whats-new ul li{
    padding-bottom: 7px;
}

/* Footer */
.Footer{
    background-color: #F2F2F2;
    display: flex;
    font-size: 11px;
    color: #616161;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Footer ul{
    display: flex;
    padding-top: 18px;
    list-style: none;
}

.Footer ul li{
    padding-right: 20px;
    list-style: none;
}

.Footer  a{
    padding-left: 20px;
    font-size: 11px;
    color: #616161;
    text-decoration: none;
}

.Footer a #globe{
    position: relative;
    top: 4px;
    padding-right: 5px;
}


.Footer p{
    padding-top: 18px;
    padding-right: 20px;
}

.Footer a{
    padding-top: 10px;
}

.Footer a:hover{
    text-decoration: underline #151515;
}

.Footer li:hover{
    text-decoration: underline #151515;

}



@media only screen and (max-width: 960px) {
    
}

@media only screen and (max-width: 1440px) {
    .navbar{
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) {
    .nav-con {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }

    .container-4-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-5-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .con-5-content{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .container-7-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}